<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>gvhttp</display-name>
    <description>GreenVulcano HTTP Adapter</description>
    <servlet>
        <servlet-name>HttpInboundGateway</servlet-name>
        <description/>
        <servlet-class>it.greenvulcano.gvesb.adapter.http.HttpInboundGateway</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--<servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>it.greenvulcano.gvesb.adapter.http.utils.ErrorHandler</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>HttpInboundGateway</servlet-name>
        <url-pattern>/inbound/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpInboundGateway</servlet-name>
        <url-pattern>/secure/inbound/*</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <!-- error-code related error pages -->
    <!--<error-page>
        <error-code>400</error-code>
        <location>/ErrorHandler</location>
    </error-page>-->

   <!-- Custom error pages -->
   <error-page>
      <error-code>400</error-code>
      <location>/400.html</location>
   </error-page>
   <error-page>
      <error-code>401</error-code>
      <location>/401.html</location>
   </error-page>
   <error-page>
      <error-code>403</error-code>
      <location>/403.html</location>
   </error-page>
   <error-page>
      <error-code>404</error-code>
      <location>/404.html</location>
   </error-page>
   <error-page>
      <error-code>405</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>406</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>406</error-code>
      <location>/error.html</location>
   </error-page>

   <error-page>
      <error-code>500</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>501</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>502</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>503</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>504</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>505</error-code>
      <location>/error.html</location>
   </error-page>
   <error-page>
      <error-code>509</error-code>
      <location>/error.html</location>
   </error-page>
   <!-- Custom error pages -->

    <security-constraint>
        <display-name>GVHttp</display-name>
        <web-resource-collection>
            <web-resource-name>Secure Gateway</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>guest</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>gvhttp</realm-name>
    </login-config>

    <security-role>
        <role-name>guest</role-name>
    </security-role>
</web-app>
