<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>gvconsole</display-name>
	<description>Maxime Informatica Intranet Framework - GreenVulcano edition</description>

    <!-- Default locale setting.
    -->
    <context-param>
        <param-name>BIRT_VIEWER_LOCALE</param-name>
        <param-value>it-IT</param-value>
    </context-param>

    <!--
        Default timezone setting.
        Examples: "Europe/Paris", "GMT+1".
        Defaults to the container's timezone.
     -->
    <context-param>
        <param-name>BIRT_VIEWER_TIMEZONE</param-name>
        <param-value>Europe/Rome</param-value>
    </context-param>

    <!--
        Report resources directory for preview. Defaults to ${birt home}
    -->
    <context-param>
        <param-name>BIRT_VIEWER_WORKING_FOLDER</param-name>
        <param-value>${gv.app.home}/BIRTReportEngine/reports</param-value>
    </context-param>

    <!--
        Temporary document files directory. Defaults to ${birt home}/documents
    -->
    <context-param>
        <param-name>BIRT_VIEWER_DOCUMENT_FOLDER</param-name>
        <param-value>${gv.app.home}/BIRTReportEngine/documents</param-value>
    </context-param>

    <!--
        Flag whether the report resources can only be accessed under the
        working folder. Defaults to true
    -->
    <context-param>
        <param-name>WORKING_FOLDER_ACCESS_ONLY</param-name>
        <param-value>false</param-value>
    </context-param>

    <!--
        Temporary image/chart directory. Defaults to ${birt home}/report/images
    -->
    <context-param>
        <param-name>BIRT_VIEWER_IMAGE_DIR</param-name>
        <param-value>${gv.app.home}/BIRTReportEngine/reports/images</param-value>
    </context-param>

    <!-- Engine log directory. Defaults to ${birt home}/logs -->
    <context-param>
        <param-name>BIRT_VIEWER_LOG_DIR</param-name>
        <param-value>${gv.app.home}/BIRTReportEngine/log</param-value>
    </context-param>

    <!-- Report engine log level -->
    <context-param>
        <param-name>BIRT_VIEWER_LOG_LEVEL</param-name>
        <param-value>WARNING</param-value>
    </context-param>

    <!--
        Directory where to store all the birt report script libraries (JARs).
        Defaults to ${birt home}/scriptlib
    -->
    <context-param>
        <param-name>BIRT_VIEWER_SCRIPTLIB_DIR</param-name>
        <param-value>${gv.app.home}/BIRTReportEngine/scriptlib</param-value>
    </context-param>

    <!-- Resource location directory. Defaults to ${birt home} -->
    <context-param>
        <param-name>BIRT_RESOURCE_PATH</param-name>
        <param-value>${gv.app.home}/BIRTReportEngine/reports</param-value>
    </context-param>

    <!-- Preview report rows limit. An empty value means no limit. -->
    <context-param>
        <param-name>BIRT_VIEWER_MAX_ROWS</param-name>
        <param-value></param-value>
    </context-param>

    <!--
        Max cube fetch levels limit for report preview (Only used when
        previewing a report design file using the preview pattern)
    -->
    <context-param>
        <param-name>BIRT_VIEWER_MAX_CUBE_ROWLEVELS</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>BIRT_VIEWER_MAX_CUBE_COLUMNLEVELS</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Memory size in MB for creating a cube. -->
    <context-param>
        <param-name>BIRT_VIEWER_CUBE_MEMORY_SIZE</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Defines the BIRT viewer configuration file -->
    <context-param>
        <param-name>BIRT_VIEWER_CONFIG_FILE</param-name>
        <param-value>WEB-INF/viewer.properties</param-value>
    </context-param>

    <!--
        Flag whether to allow server-side printing. Possible values are "ON"
        and "OFF". Defaults to "ON".
    -->
    <context-param>
        <param-name>BIRT_VIEWER_PRINT_SERVERSIDE</param-name>
        <param-value>ON</param-value>
    </context-param>

    <!--
        Flag whether to force browser-optimized HTML output. Defaults to true
    -->
    <context-param>
        <param-name>HTML_ENABLE_AGENTSTYLE_ENGINE</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--
        Filename generator class/factory to use for the exported reports.
    -->
    <context-param>
        <param-name>BIRT_FILENAME_GENERATOR_CLASS</param-name>
        <param-value>org.eclipse.birt.report.utility.filename.DefaultFilenameGenerator</param-value>
    </context-param>

<!--
        Viewer Filter used to set the request character encoding to UTF-8.
    -->
    <filter>
        <filter-name>ViewerFilter</filter-name>
        <filter-class>org.eclipse.birt.report.filter.ViewerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ViewerFilter</filter-name>
        <servlet-name>ViewerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ViewerFilter</filter-name>
        <servlet-name>EngineServlet</servlet-name>
    </filter-mapping>

    <!-- Viewer Servlet Context Listener -->
    <listener>
        <listener-class>org.eclipse.birt.report.listener.ViewerServletContextListener</listener-class>
    </listener>

    <!-- Viewer HttpSession Listener -->
    <listener>
        <listener-class>org.eclipse.birt.report.listener.ViewerHttpSessionListener</listener-class>
    </listener>

	<listener>
		<listener-class>max.core.MaxServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>max.documents.LocksSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.WorkbenchServletCtxListener</listener-class>
	</listener>

	<servlet>
		<description>Usato per rendere le immagini disponibili da http</description>
		<display-name>FileProviderServlet</display-name>
		<servlet-name>FileProviderServlet</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.gvcon.jgraph.FileProviderServlet</servlet-class>
	</servlet>

	<servlet>
		<description>Operazioni per la gestione dei documenti XML.
            I parametri forwardTo_xxx specificano gli URI da invocare in
            caso di terminazione con successo dell&apos;operazione xxx.</description>
		<display-name>MaxXMLServlet</display-name>
		<servlet-name>MaxXMLServlet</servlet-name>
		<servlet-class>max.xml.MaxXMLServlet</servlet-class>
		<init-param>
			<param-name>forwardTo_deleteDTD</param-name>
			<param-value>/def/xmleditor/registerdtd.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_downloadDTD</param-name>
			<param-value>-</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_deleteXSLT</param-name>
			<param-value>/def/xmleditor/registerdtd.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_downloadXSLT</param-name>
			<param-value>-</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_downloadXML</param-name>
			<param-value>-</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_action</param-name>
			<param-value>-</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_editClientDoc</param-name>
			<param-value>/def/xmleditor/xmleditor.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_editDTD</param-name>
			<param-value>/def/xmleditor/registerdtd.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>forwardTo_newDoc</param-name>
			<param-value>/def/xmleditor/xmleditor.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di una registrazione con successo
                di un DTD.</description>
			<param-name>forwardTo_registerDTD</param-name>
			<param-value>/def/xmleditor/registerdtd.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;update con successo
                di un DTD.</description>
			<param-name>forwardTo_updateDTD</param-name>
			<param-value>/def/xmleditor/registerdtd.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di una registrazione con successo
                di un XSLT.</description>
			<param-name>forwardTo_registerXSLT</param-name>
			<param-value>/def/xmleditor/registerdtd.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;azione sull&apos;interfaccia grafica.</description>
			<param-name>forwardTo_ui</param-name>
			<param-value>/def/xmleditor/xmleditor.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;azione di salvataggio sull&apos;editor visuale.</description>
			<param-name>forwardTo_graphic-save</param-name>
			<param-value>/def/xmleditor/xmleditor.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>Fornisce i contenuti gestiti dal modulo per la gestione dell&apos;XML</description>
		<display-name>XMLContentProviderServlet</display-name>
		<servlet-name>XMLContentProviderServlet</servlet-name>
		<servlet-class>max.servlets.ContentProviderServlet</servlet-class>
		<init-param>
			<description>Provider dal quale saranno estratti i contenuti.</description>
			<param-name>provider</param-name>
			<param-value>MAX_XML_PROVIDER</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>Fornisce i contenuti gestiti dal modulo per la gestione dell&apos;XML</description>
		<display-name>DocRepositoryServlet</display-name>
		<servlet-name>DocRepositoryServlet</servlet-name>
		<servlet-class>max.documents.DocRepositoryServlet</servlet-class>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;azione di editing.</description>
			<param-name>edit-page</param-name>
			<param-value>/def/xmleditor/xmleditor.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;azione di warning.</description>
			<param-name>warning-page</param-name>
			<param-value>/def/documents/warning.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare nel caso in cui si tenta di editare un file nello stato di lock.</description>
			<param-name>warning-lock-page</param-name>
			<param-value>/def/documents/warninglock.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;azione di document.</description>
			<param-name>document-page</param-name>
			<param-value>/def/xmleditor/index.jsp</param-value>
		</init-param>
		<init-param>
			<description>Pagina da invocare a fronte di un&apos;azione svolta dall&apos;amministratore.</description>
			<param-name>administrator-page</param-name>
			<param-value>/def/documents/admin.jsp</param-value>
		</init-param>
		<init-param>
			<description>Content provider per le viste sulla configurazione.</description>
			<param-name>view-content-provider</param-name>
			<param-value>MAX_XML_PROVIDER</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>gvcon.configuration.browser</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.gvcon.browse.ConfigurationBrowserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet per la produzione della documentazione PDF.</description>
		<display-name>PDFServlet</display-name>
		<servlet-name>PDFServlet</servlet-name>
		<servlet-class>max.documentation.PDFServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GVTesterManager</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.GVTesterManager</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SetParameters</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.SetParameters</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.Upload</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Invoke</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.Invoke</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SetFields</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.SetFields</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ValorizeData</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.ValorizeData</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PortalServlet</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.workbench.servlet.PortalServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>StatsServlet</servlet-name>
		<servlet-class>it.greenvulcano.gvesb.gvconsole.stats.StatsServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<!-- Viewer Servlet, Supports SOAP -->
    <servlet>
        <servlet-name>ViewerServlet</servlet-name>
        <servlet-class>org.eclipse.birt.report.servlet.ViewerServlet</servlet-class>
    </servlet>

    <!-- Engine Servlet -->
    <servlet>
        <servlet-name>EngineServlet</servlet-name>
        <servlet-class>org.eclipse.birt.report.servlet.BirtEngineServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ViewerServlet</servlet-name>
        <url-pattern>/frameset</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewerServlet</servlet-name>
        <url-pattern>/run</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/preview</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/parameter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/document</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/output</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/extract</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>StatsServlet</servlet-name>
		<url-pattern>/StatsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PDFServlet</servlet-name>
		<url-pattern>/generatePDF/*</url-pattern>
	</servlet-mapping>
	<!--
        Fornito ma ancora non utilizzato
    -->
	<servlet-mapping>
		<servlet-name>gvcon.configuration.browser</servlet-name>
		<url-pattern>/browser</url-pattern>
	</servlet-mapping>
	<!--
		<servlet-mapping> <servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern> </servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>FileProviderServlet</servlet-name>
		<url-pattern>/gvesbWorkFlow/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaxXMLServlet</servlet-name>
		<url-pattern>/MaxXMLServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLContentProviderServlet</servlet-name>
		<url-pattern>/xml/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocRepositoryServlet</servlet-name>
		<url-pattern>/documents/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortalServlet</servlet-name>
		<url-pattern>/PortalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GVTesterManager</servlet-name>
		<url-pattern>/GVTesterManager</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SetParameters</servlet-name>
		<url-pattern>/SetParameters</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Invoke</servlet-name>
		<url-pattern>/Invoke</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetFields</servlet-name>
		<url-pattern>/SetFields</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValorizeData</servlet-name>
		<url-pattern>/ValorizeData</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/deploy/index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
                      <exception-type>java.lang.Exception</exception-type>
                      <location>/def/exception.jsp</location>
           </error-page>
           <jsp-config>
		<taglib>
			<taglib-uri>/birt.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/birt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-html</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
			<taglib-location>/WEB-INF/struts/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/std/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/std/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/std/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/std/fmt.tld</taglib-location>
		</taglib>
	</jsp-config>
    <security-constraint>
		<display-name>GVCon</display-name>
		<web-resource-collection>
			<web-resource-name>Editor</web-resource-name>
			<url-pattern>/def/xmleditor/*</url-pattern>
			<url-pattern>/MaxXMLServlet</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Monitoring</web-resource-name>
			<url-pattern>/monitoring/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>deploy</web-resource-name>
			<url-pattern>/deploy/*</url-pattern>
			<url-pattern>/deploy</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>webservice</web-resource-name>
			<url-pattern>/webservice/*</url-pattern>
			<url-pattern>/webservice</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>gvconsole</web-resource-name>
			<url-pattern>/deploy/index.jsp</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Documents</web-resource-name>
			<url-pattern>/documents/*</url-pattern>
			<url-pattern>/def/documents/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Browsing</web-resource-name>
			<url-pattern>/browser</url-pattern>
			<url-pattern>/browseConfiguration/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>PDF Guides</web-resource-name>
			<url-pattern>/generatePDF/*</url-pattern>
			<url-pattern>/def/documentation/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>configurationReloading</web-resource-name>
			<description>Interface for the &apos;hot-reloading&apos; of the configuration.</description>
			<url-pattern>/config/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>administrationTools</web-resource-name>
			<url-pattern>/def/admin/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>testManagement</web-resource-name>
			<description>GreenVulcano test</description>
			<url-pattern>/testing/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
            <web-resource-name>BIRT Report</web-resource-name>
            <url-pattern>/report/*</url-pattern>
            <url-pattern>/reportMain.do</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>SavePoint</web-resource-name>
            <url-pattern>/savepoint/*</url-pattern>
            <url-pattern>/savepointMain.do</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>LogConsole</web-resource-name>
            <url-pattern>/log/*</url-pattern>
            <url-pattern>/logMain.do</url-pattern>
        </web-resource-collection>
		<auth-constraint>
			<role-name>configurator</role-name>
			<role-name>monitoring</role-name>
			<role-name>consoleAdministrator</role-name>
			<role-name>externalSystem</role-name>
			<role-name>guest</role-name>
			<role-name>gvesbAdministrator</role-name>
			<role-name>supervisor</role-name>
			<role-name>systemAdministrator</role-name>
			<role-name>projectManager</role-name>
			<role-name>appserverAdministrators</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>gvcon</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>configurator</role-name>
	</security-role>
	<security-role>
		<role-name>monitoring</role-name>
	</security-role>
	<security-role>
		<role-name>consoleAdministrator</role-name>
	</security-role>
	<security-role>
		<role-name>externalSystem</role-name>
	</security-role>
	<security-role>
		<role-name>guest</role-name>
	</security-role>
	<security-role>
		<role-name>gvesbAdministrator</role-name>
	</security-role>
	<security-role>
		<role-name>supervisor</role-name>
	</security-role>
	<security-role>
		<role-name>systemAdministrator</role-name>
	</security-role>
	<security-role>
		<role-name>projectManager</role-name>
	</security-role>
	<security-role>
		<role-name>appserverAdministrators</role-name>
	</security-role>
</web-app>