<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>gvaxis2</display-name>

    <listener>
        <listener-class>it.greenvulcano.gvesb.axis2.listeners.GVAxis2ServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>GVAxisServlet</servlet-name>
        <display-name>GreenVulcanoESB Axis Servlet</display-name>
        <servlet-class>it.greenvulcano.gvesb.axis2.servlets.GVAxisServlet</servlet-class>
        <init-param>
            <param-name>axis2.xml.path</param-name>
            <param-value>${{gv.app.home}}/xmlconfig/axis2.xml</param-value>
        </init-param>
        <init-param>
            <param-name>axis2.repository.path</param-name>
            <param-value>${{gv.app.home}}/webservices</param-value>
        </init-param>
        <!--<param-name>axis2.xml.url</param-name>-->
        <!--<param-value>http://localhost/myrepo/axis2.xml</param-value>-->
        <!--<param-name>axis2.repository.url</param-name>-->
        <!--<param-value>http://localhost/myrepo</param-value>-->
        
        <!-- gv.url.remap.x: re-maps incoming URL to target URL by overriding message context's toEPR.
             FORMAT:
             <target URL>;<first URL>:<second URL>:<n-th URL>
             
             EXAMPLE:
             /services;/secure/services:/axis2-services:/rest-services
             
             When servlet is reached by URL http://localhost:8080/gvaxis2/secure/services, 
             endpoint is re-mapped to http://localhost:8080/gvaxis2/services
         -->
        <init-param>
            <param-name>gv.url.remap.1</param-name>
            <param-value>/services;/secure/services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AxisAdminServlet</servlet-name>
        <display-name>Apache-Axis AxisAdmin Servlet (Web Admin)</display-name>
        <servlet-class>
            org.apache.axis2.webapp.AxisAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GVAxisServlet</servlet-name>
        <url-pattern>/servlet/GVAxisServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GVAxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GVAxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GVAxisServlet</servlet-name>
        <url-pattern>/secure/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisAdminServlet</servlet-name>
        <url-pattern>/axis2-admin/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>inc</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
      <welcome-file>/axis2-web/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
      <error-code>404</error-code>
      <location>/axis2-web/Error/error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/axis2-web/Error/error500.jsp</location>
    </error-page>

    <security-constraint>
        <display-name>GVAxis2</display-name>
        <web-resource-collection>
            <web-resource-name>Secure Services</web-resource-name>
            <url-pattern>/secure/services/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>guest</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>gvaxis2</realm-name>
    </login-config>

    <security-role>
        <role-name>guest</role-name>
    </security-role>
</web-app>
